@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-head {
    font-family: "Macondo", cursive;
}

@keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.an‌​imate-spin-slow {
    animation: spin-slow infinite 20s linear;
}

@keyframes spin-slow-rev {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.an‌​imate-spin-rev {
    animation: spin-slow-rev infinite 20s linear;
}

.rFrJzc {
    background-size: 14px 14px;
    background-image: url(//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_14.png);
    display: inline-block;
    width: 14px;
    height: 13px;
}

.UpDOYb {
    background-image: url(//maps.gstatic.com/consumer/images/icons/2x/ic_star_rate_half_14.png);
}